	<!DOCTYPE html>
	<html>
	<head>
		<title>Select Celebrities</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

	</head>
	<style>
		body {
			font-family: 'Cabin', sans-serif;
		}


		.btn {

			padding-left:28px;
			padding-right:28px;
			border-radius: 0;
			background-color:#00BFFF;
			color:#333;
			border:none;
			margin-top:20px;
			transition:all 1s ease;
		}
		.btn:hover {
			background-color:#AFEEEE;
		}
		label{
			margin-bottom:0;
			padding-top:8px	;
			display:block!important;


		}
		 input[type=checkbox] {

		 	padding:auto;
			width:18px;

		}

		h3, h4 {
			font-family: 'Cabin', sans-serif;



		}
		#header {
			padding:0;
		}
		#header .header-img img  {
			width:100%!important;

		}

	</style>

	<div  class="container-fluid" id="header">
		<div class="header-img">
			<img src='/images/header.jpg'>
		</div>


	</div>

	<body>

		<div class="container-fluid">

			<h1 class="text-center">Riviera 2017</h1>

			<h2 class="text-center">Artist Poll</h2>

			<hr>


			<div class="col-sm-8 com-lg-8 col-md-8 col-sm-offset-2 bg0" style="top:0px">

				<form name="myForm" method="POST"  action="/" onsubmit ="return check()"> <!--on submit of form check() function for checkboxes called-->
					<div class="row">
            <label class="text-left">
						<div class="col-sm-6 col-lg-6">
							 <h4> Registration number: </h4>
            </div>
						<div class="col-sm-6  col-lg-6">
							<input type="text" name='regNo' placeholder="Enter Registration number" class="form-control" >
						</div>
            </label>
					</div>

					<br>

					<div class="row">

						<div class="col-sm-6">
							<div class="bg1" id="id2">

								<h4>Select Your favourite Celebrities <em>(Atmost 3)</em></h4>
								<!--List of all Celebrities-->
							</div>
						</div>
						<div class="col-sm-4">

							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Shalmali Kholgade"> Shalmali Kholgade</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Arman Malik">Arman Mailk </label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Sukhwinder">Sukhwinder</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Farhan Akhtar"> Farhan Akhtar</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Sonu Nigam">Sonu Nigam</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Kk">Kk </label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Shankar Mahadaven">Shankar Mahadaven</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Antra Mitra">Antra Mitra</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Sona Mahapatra">Sona Mahapatra</label> </div>
							<div class="checkbox"> <label>    <input type="checkbox" name="artist" value="Sherya Ghoshal">Shreya Ghoshal</label> </div>

						</div>

					</div>

					<div class="row">
						<button  type="submit"    role="button" class="btn btn-default " id="mybtn" onclick="validatereg()" >Submit</button>
					</div>

				</form>
			</div>

		</div>
	</div>
	<script>
		//function for validation of Registration No for 2016 batch only//
		function validatereg(){
			var reg = document.myForm.regNo;
			Reg = /16[\w]{3}[0-9]{4}/i;
			if(Reg.test(reg.value)){


				return true;
			}

			else {
				alert('Please enter a valid Registration number');
					//reg.style.border = '2px solid red';
				}

				return false;

			}



		//function for validation of checkboxes//
		function check() {
			var count =0;
			var x = document.getElementsByName('artist');

			for(var i =0 ; i<x.length; i++)
			{
				if(x[i].checked){
					count++;



				}
			}
			if(count==3){
				return true;
			}
			else if(count <3){
				alert('Select almost 3 Celebrities');
			}
			else if( count > 3){
				alert('Cannot Select more than 3 Celebrities');
			}
			else {
				alert("Please Select 3 Celebrities");
			}

			return false;


		}

	</script>
</body>
</html>
