	<!DOCTYPE html>
	<html>
	<head>
		<title>Riviera | Artist Poll</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/css/formValidation.min.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
		
		
		
		

	</head>
	<style>
		body {
			font-family: 'Cabin', sans-serif;
		}


		.btn {

		
			padding-left:28px;
			padding-right:28px;
			border-radius: 0;
			background-color:black;
			color:#DC143C;
			border:1px solid black;
			margin-top:20px;
			transition:all .5s ease;
			margin-bottom:50px;
		}
		.btn:hover {
			
			color:black;
			border:1px solid black;
		}
		label{
			margin-bottom:0;
			padding-top:8px	;
			display:block!important;


		}
		 input[type=checkbox] {

		 	padding:auto;
			width:18px;

		}

		h3, h4 {
			font-family: 'Cabin', sans-serif;



		}
		#header {
			padding:0;
		}
		#header .header-img img  {
			width:100%!important;

		}

	</style>

	

	<body>
		<div  class="container-fluid" id="header">
			<div class="header-img">
				<img src='/images/header.jpg'>
			</div>


		</div>

		<div class="container-fluid">

			<h1 class="text-center">Riviera 2017</h1>

			<h2 class="text-center">Artist Poll</h2>

			<hr>


			<div class="col-sm-8 com-lg-8 col-md-8 col-sm-offset-2 bg0" >

				<form id="myForm" method="POST"  action="/"> <!--on submit of form check() function for checkboxes called-->
					<div class="row">
						<div class="form-group">
						            <label class="text-left control-label">
						<div class="col-sm-6 col-lg-6">
							 <h4> Registration number: </h4>
            </div>
						<div class="col-sm-6  col-lg-6">
							<input type="text" name='reg_no' placeholder="Enter Registration number" class="form-control" style="width:105%;text-transform: uppercase;">
						</div>
            </label>
						</div>
					</div>

					<br>

					<div class="row">

						<div class="form-group">
						<div class="col-sm-6">
							<div class="bg1" id="id2">

								<h4>Select Your favourite Celebrities <em>(Max 3)</em></h4>
								<!--List of all Celebrities-->
							</div>
						</div>
						<div class="col-sm-4">

							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Shalmali Kholgade"> Shalmali Kholgade</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Arman Malik">Arman Mailk </label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Sukhwinder">Sukhwinder</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Farhan Akhtar"> Farhan Akhtar</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Sonu Nigam">Sonu Nigam</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Kk">Kk </label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Shankar Mahadaven">Shankar Mahadaven</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Antra Mitra">Antra Mitra</label> </div>
							<div class="checkbox"> <label>  <input type="checkbox" name="artist" value="Sona Mahapatra">Sona Mahapatra</label> </div>
							<div class="checkbox"> <label>    <input type="checkbox" name="artist" value="Sherya Ghoshal">Shreya Ghoshal</label> </div>

						</div>
						</div>

					</div>

					<div class="row text-center">
						<button  type="submit"    role="button" class="btn btn-default " id="mybtn"  >Submit</button>
					</div>

				</form>
				<hr>


			<h5>Developed By-</h5>
				 <a href="https://github.com/anishsingh20" style="text-decoration:none ">Anish Singh Walia</a>
				 <br>
				 <a href="https://github.com/AdityaShaha"  style="text-decoration:none "> Aditya Shaha</a>


			</div>

		</div>
	</div>
	
		
	

	<script type="text/javascript">
		$(document).ready(function() {
    $('#myForm').formValidation({
        // I am validating Bootstrap form
        framework: 'bootstrap',

        // Feedback icons
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },


        // List of fields and their validation rules
        fields: {
            reg_no: {
                validators: {
                    notEmpty: {
                        message: 'The Vit Registration number is Required'
                    },
                   
                    regexp: {
                        regexp: /1[0-9][\w]{3}[0-9]{4}/i ,
                        message: 'Enter a valid Vit Registration number'
                    }
                }
            },

            artist: {
                    validators: {
                        callback: {
                            message: 'Select Atmost 3',
                            callback: function (value, validator, $field) {
                                // Determine the numbers which are generated in captchaOperation
                                	var count =0;
									var x = document.getElementsByName('artist');
                                	for(var i =0 ; i<x.length; i++)
									{	
										if(x[i].checked){
										count++;



										}
										}
									


                                return count>3 ? false : true;
                            }
                        }
                    }
                }
            
        }
    });
});



	</script>
</body>
</html>
