<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    
=======
    <title>Select Celebrities</title>
>>>>>>> 53e2e206cd015a6b500da90abe126db35f764a60
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">

  </head>
  <style>
body {
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
}


.btn {

	padding-left:28px;
	padding-right:28px;
	border-radius: 0;
<<<<<<< HEAD
	background-color:
	margin-top:20px;
=======
>>>>>>> 53e2e206cd015a6b500da90abe126db35f764a60
	background-color:#00BFFF;
	color:#333;
	border:none;
	margin-top:20px;
	transition:all 1s ease;
	}
.btn:hover {
	background-color:#AFEEEE;
}
	#id2 label{
<<<<<<< HEAD
		padding-left:15px;
		padding-right:0px;

=======
		margin-bottom:0;
		padding-top:8px	;
		

		
		
>>>>>>> 53e2e206cd015a6b500da90abe126db35f764a60
	}
	.bg1 input[type=checkbox] {
		display:block;
		    margin-top:0;


	}

h3 {
	font-family: 'Cabin', sans-serif;
	

	}

</style>

  <body>
    <div class="col-sm-12 com-lg-12 col-md-12 bg0" style="top:0px">
<br>
<br>
<form action = ''  class="col-sm-12 col-lg-12 col-md-12" name="myForm"  onsubmit ="return check()"> <!--on submit of form check() function for checkboxes called-->
		<center>
			<div class="col-sm-12 col-lg-12 col-md-12" style="top:-10px">
			<h2>Enter your Registration number</h2>
		<input type="text" name='regNo' placeholder="Enter Registration number" class="form-control" style="max-width:500px">
		</div>

		<br>
		<br>
		<br>

<<<<<<< HEAD
		<div class=" col-sm-21 col-md-12 col-lg-12 bg1" id="id2">

		<h3>Select Your favourite Celebreties<span>(Atmost 3)</span></h3>
				<label>Shalmali Kholgade  </label>  <input type="checkbox" name="opt1">
				<label>Arman Mailk   </label>  <input type="checkbox" name="opt2">
				<label>Sukhwinder  </label>  <input type="checkbox" name="opt3">
				<label>Farhan Akhtar</label>  <input type="checkbox" name="opt4">
				<label>Sonu Nigam  </label>  <input type="checkbox" name="opt5">
				<label>Kk     </label>  <input type="checkbox" name="opt6">
				<label>Shankar Mahadaven  </label>  <input type="checkbox" name="opt7">
				<label>Antra Mitra  </label>  <input type="checkbox" name="opt8">
				<label>Sona Mahapatra  </label>  <input type="checkbox" name="opt9">
				<label>Shreya Ghoshal  </label>  <input type="checkbox" name="opt10">




			</div>


<button  type="submit"  role="button" class="btn btn-default " id="mybtn">Submit</button>
=======
		<div class=" col-sm-21 col-md-12 col-lg-12 bg1" id="id2"  style="top:-10px">

		<h3>Select Your favourite Celebrities<span>(Atmost 3)</span></h3>
			<!--List of all Celebrities-->
		
				<label>Shalmali Kholgade  </label> <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Arman Mailk   </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Sukhwinder  </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade"> 
				<label>Farhan Akhtar</label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Sonu Nigam  </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Kk     </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Shankar Mahadaven  </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Antra Mitra  </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Sona Mahapatra  </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				<label>Shreya Ghoshal  </label>  <input type="checkbox" name="opt[]" value="Shalmali Kholgade">
				
		
				

			</div>

			
<button  type="submit"    role="button" class="btn btn-default " id="mybtn" onclick="validatereg()" >Submit</button>
>>>>>>> 53e2e206cd015a6b500da90abe126db35f764a60


		</center>
	</form>
		


	</div>
	<script>
	//function for validation of Registration No for 2016 batch only//
		function validatereg(){
			var reg = document.myForm.regNo;
			Reg = /16[\w]{3}[0-9]{4}/i;
			if(Reg.test(reg.value)){
				
				
				return true;
			}

			else {
				alert('Please enter a valid Registration number');
				reg.style.border = '2px solid red';
			}

		}



	//function for validation of checkboxes//	
	function check() {
			var count =0;
			var x = document.getElementsByName('opt[]');
			
			for(var i =0 ; i<x.length; i++)
			{
				if(x[i].checked){
					count++;



				}
				}
				if(count==3){
					return true;
				}
				else if(count <3){
					alert('Select almost 3 Celebrities');
				}
				else if( count > 3){
					alert('Cannot Select more than 3 Celebrities');
				}
				else {
					alert("Please Select 3 Celebrities");
				}
				

			
			
		}
		
	</script>
  </body>
</html>
