<div id="messages">
<% Object.keys(messages).forEach(function (type) { %>
  <ul class="<%= type %>">
  <% messages[type].forEach(function (message) { %>
    <li><i><%= message %></i></li>
  <% }) %>
  </ul>
<% }) %>
</div>
